/* General Reset and Basic Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s;
}

body {
  background-color: #F0F2F5;
  color: #333;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #121212;
  color: #FFF;
}

.dark-mode .packet-display,
.dark-mode .packet,
.dark-mode footer,
.dark-mode header,
.dark-mode .status-label,
.dark-mode .packet-count {
  background-color: #1E1E1E;
  color: #FFF;
  border-color: #333;
}

/* Container for Centering Content */
.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

/* Navbar/Header */
header {
  background-color: #2C3E50;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

/* Packet Display Wrapper - Relative Position */
.packet-display-wrapper {
  position: fixed;
  right: 10px;
  top: 70px;
  width: 320px;
  height: auto;
}

.chart-container {
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 40%; /* Adjust as needed */
  margin-left: 10px; /* Align to the left with some margin */
  margin-top: 50px; /* Space below the buttons */
}

/* Additional styling for the chart */
.chart-container canvas {
  max-width: 100%;
  height: 300px; /* Example fixed height */
}


/* Status Label */
.status-label {
  position: fixed;
  right: 63px;
  top: 60px;
  width: 200px; /* Fixed width */
  background-color: #16A085;
  color: white;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 1000;
}

.disconnected {
  background-color: #E74C3C;
}

/* Packet Display and Total Packets */
.packet-display {
    position: fixed;
    right: 10px;
    top: 110px; /* Adjusted to make space for status label */
    width: 320px;
    height: 400px;
    overflow-y: auto;
    background-color: #fff;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.packet {
  background-color: #ECF0F1;
  border-bottom: 1px solid #BDC3C7;
  padding: 8px;
  font-family: 'Courier New', monospace;
  font-size: 10px;
  font-weight: bold;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add ellipsis for overflowed text */
}

.packet:nth-child(even) {
  background-color: #BDC3C7;
}

.packet-number {
  font-weight: bold;
  margin-right: 10px;
  font-family: bold;
  color: #2980B9;
}

/* Button Styling */
button {
  background: linear-gradient(to right, #3498DB, #2980B9);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s, transform 0.3s;
}

button:hover {
  background: linear-gradient(to right, #2980B9, #3498DB);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: translateY(1px);
  box-shadow: none;
}

/* Packet Count Styling */
.packet-count {
    position: fixed;
    right: 10px;
    top: 520px; /* Adjusted to be below packet display */
    width: 320px;
    background-color: #34495E;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.network-info {
  margin-top: 10px; /* Adds some space between the packet count and the network info */
  background-color: #34495E; /* Different background color */
  color: #fff; /* Text color */
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  right: 10px;
  top: 550px; /* Adjust this value based on your layout */
  width: 320px; /* Same width as packet-count for consistency */
}

.network-info > div {
  margin-bottom: 5px; /* Spacing between each info line */
}

/* Footer */
footer {
  background-color: #2C3E50;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
  header, footer {
      text-align: center;
  }

  .status-label, .packet-count {
      right: 10px;
  }

  .packet-display {
      top: 120px;
  }
}
