/* CSS Variables */
:root {
  --primary-color: #3498DB;
  --primary-color-dark: #2980B9;
  --text-color-light: #FFF;
  --text-color-dark: #333;
  --background-color-light: #fff;
  --background-color-dark: #121212;
  --element-background-light: #ECF0F1;
  --element-background-dark: #1E1E1E;
  --error-color: #E74C3C;
  --header-footer-bg: #2C3E50;
  --packet-bg-even: #BDC3C7;
  --packet-number-color: #2980B9;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

/* General Reset and Basic Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color-light);
  color: var(--text-color-dark);
  font-size: 16px;
  line-height: 1.5;
  overflow-x: auto;
  overflow-y: scroll;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-light);
}

.dark-mode .packet-display,
.dark-mode .packet,
.dark-mode footer,
.dark-mode header,
.dark-mode .status-label,
.dark-mode .packet-count {
  background-color: var(--element-background-dark);
  color: var(--text-color-light);
  border-color: var(--text-color-dark);
}

/* Container for Centering Content */
.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

/* Navbar/Header */
header {
  background-color: var(--header-footer-bg);
  color: var(--text-color-light);
  text-align: center;
  padding: 20px 0;
}

/* Status Label */
.status-label {
  position: absolute;
  right: 180px;
  top: 10px;
  width: 320px;
  background-color: #16A085;
  color: var(--text-color-light);
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px var(--shadow-color);
}

.disconnected {
  background-color: var(--error-color);
}

/* Packet Display and Total Packets */
.packet-display {
  background-color: var(--background-color-light);
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--shadow-color);
  padding: 10px;
  margin-top: 10px;
  height: 300px;
  width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.packet {
  background-color: var(--element-background-light);
  border-bottom: 1px solid var(--packet-bg-even);
  padding: 3px;
  font-family: 'Courier New', monospace;
  font-size: 10px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.pie-container, .line-chart-container {
  width: 100%;
  height: auto;
  max-height: 300px;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.row-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin: 20px;
}

.row-container > div, .row-container > * {
  flex: 1;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px var(--shadow-color);
  background-color: var(--background-color-light);
  color: var(--text-color-dark);
  font-size: 16px;
  line-height: 1.5;
  position: relative;
}

.packet:nth-child(even) {
  background-color: var(--packet-bg-even);
}

.packet-number {
  font-weight: bold;
  margin-right: 10px;
  color: var(--packet-number-color);
}

/* Button Styling */
button {
  background: linear-gradient(to right, var(--primary-color), var(--primary-color-dark));
  color: var(--text-color-light);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s, transform 0.3s;
}

button:hover {
  background: linear-gradient(to right, var(--primary-color-dark), var(--primary-color));
  transform: translateY(-1px);
  box-shadow: 0 4px 8px var(--shadow-color);
}

button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px var(--shadow-color);
}

/* Packet Count and Network Info Styling */
.network-info {
  background-color: var(--packet-bg-even);
  color: var(--text-color-light);
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px var(--shadow-color);
  
}

.network-row-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin: 20px;
}

.network-row-container > div {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px var(--shadow-color);
  background-color: var(--background-color-light);
  color: var(--text-color-dark);
  font-size: 16px;
  line-height: 1.5;
  position: relative;
}
.network-chart-container, .traffic-bar-chart-container {
  flex: 2; /* Larger space */
}
.packet-count-container, .network-info-container {
  margin-bottom: 10px;
}

.packet-count {
  background-color: var(--packet-bg-even);
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px var(--shadow-color);
  font-weight: bold;
}

.info-table {
  flex: 1; /* Adjust as needed */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children horizontally in the main axis */
  align-items: center; /* Center children vertically in the cross axis */
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px var(--shadow-color);
  background-color: var(--background-color-light);
  color: var(--text-color-dark);
  font-size: 16px;
  line-height: 1.5;
  position: relative;
}

.packet-count, .network-info {
  width: 100%; /* Adjust as needed */
  /* Rest of your styles */
}

.bar-container {
  width: 100%; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
  display: flex; /* To align items horizontally */
  justify-content: center; /* To align items horizontally */
  align-items: center; /* To align items vertically */
}

.network-row-container > div, .network-row-container > * {
  flex: 1; /* Assign equal space to each child, adjust as needed */
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px var(--shadow-color);
  background-color: var(--background-color-light);
  color: var(--text-color-dark);
  font-size: 16px;
  line-height: 1.5;
  position: relative;
}

.network-info > div {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--background-color-light);
  color: var(--text-color-dark);
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  position: relative;
}

/* Footer */
footer {
  background-color: var(--header-footer-bg);
  color: var(--text-color-light);
  text-align: center;
  padding: 20px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  header, footer {
    padding: 10px 0;
  }

  .status-label{
    right: 10px;
  }

  .packet-display {
    top: 120px;
  }
}
